Repository stolostron/application-ui, pull requests merged in 2022-01, with the labels that each got.

#1404 Fix CRD status
  src-web/components/Topology/utils/diagram-helpers.js
  tests/cypress/templates/ansible_yaml/ansible-subscription.yaml
  tests/cypress/templates/argocd_yaml/argocd-operator.yaml
  tests/cypress/templates/argocd_yaml/managedclustersetbinding.yaml
  tests/jest/components/Topology/viewer/utils/diagram-helpers.test.js
  tests/run-prow-e2e.sh
Labels: lgtm, approved, dco-signoff: yes

#1408 [release-2.2] Switch GH org to stolostron
  Dockerfile.cypress
  Makefile
  README.md
  auth-setup/mcm-application-ui-app.yaml
  build/run-e2e-tests-clusterpool.sh
  controllers/ui/index.js
  options.yaml
  package-lock.json
  package.json
  src-web/components/AdvancedConfigurationLists.js
  src-web/components/ApplicationTopologyModule/ApplicationTopologyModule.js
  src-web/components/ApplicationsListPage.js
  src-web/components/Topology/Topology.js
  src-web/components/common/CreateApplicationButton.js
  src-web/components/common/OverviewCards/index.js
  src-web/components/common/ResourceDetails/index.js
  src-web/components/common/ResourceList.js
  src-web/components/common/ResourceTable.js
  src-web/components/modals/RemoveResourceModal.js
  tests/cypress/README.md
  tests/cypress/scripts/slack-reporter.js
  tests/cypress/views/common.js
  webpack.config.js
Labels: lgtm, dco-signoff: yes

#1409 fix bug
  src-web/components/ApplicationCreationPage/controlData/ControlDataPlacement.js
  tests/jest/components/CreateApplicationPage/controlData/ControlData.test.js
Labels: approved, dco-signoff: yes

#1406 [release-2.4] Switch to GH org stolostron
  CONTRIBUTING.md
  Dockerfile.cypress
  Dockerfile.prow
  Makefile
  README.md
  controllers/ui/index.js
  package-lock.json
  package.json
  src-web/components/AdvancedConfigurationLists.js
  src-web/components/ApplicationCreationPage/controlData/ControlDataPrePostTasks.js
  src-web/components/ApplicationDeploymentHighlights/ApplicationDeploymentHighlightsTerminology/index.js
  src-web/components/ApplicationTopologyModule/ApplicationTopologyModule.js
  src-web/components/ApplicationsListPage.js
  src-web/components/ArgoCreationPage/controlData/controlData.js
  src-web/components/SecondaryHeader.js
  src-web/components/Topology/Topology.js
  src-web/components/Topology/viewer/ChannelControl.js
  src-web/components/common/AutoRefreshSelect.js
  src-web/components/common/ClusterSelector/index.js
  src-web/components/common/OverviewCards/index.js
  src-web/components/common/ResourceDetails/index.js
  src-web/components/common/ResourceList.js
  src-web/components/common/ResourceTable.js
  src-web/components/common/TableRowActionMenu.js
  src-web/components/modals/RemoveResourceModal.js
  src-web/components/modals/SyncResourceModal.js
  src-web/containers/App.js
  tests/cypress/README.md
  tests/cypress/scripts/slack-reporter.js
  tests/cypress/views/common.js
  tests/jest/components/Topology/viewer/utils/diagram-helpers.test.js
  webpack.config.js
Labels: lgtm, approved, dco-signoff: yes

#1410 Use cluster-scoped Ansible
  tests/cypress/templates/ansible_yaml/ansible-operator-group.yaml
  tests/cypress/templates/ansible_yaml/ansible-subscription.yaml
Labels: lgtm, approved, dco-signoff: yes

#1405 [release-2.3] Switch to GH org stolostron
  CONTRIBUTING.md
  Dockerfile.prow
  Makefile
  README.md
  build/run-e2e-tests-clusterpool.sh
  controllers/ui/index.js
  package-lock.json
  package.json
  src-web/components/AdvancedConfigurationLists.js
  src-web/components/ApplicationCreationPage/components/ClusterSelector.js
  src-web/components/ApplicationCreationPage/controlData/ControlDataPrePostTasks.js
  src-web/components/ApplicationDeploymentHighlights/ApplicationDeploymentHighlightsTerminology/index.js
  src-web/components/ApplicationTopologyModule/ApplicationTopologyModule.js
  src-web/components/ApplicationsListPage.js
  src-web/components/SecondaryHeader.js
  src-web/components/Topology/Topology.js
  src-web/components/Topology/viewer/ChannelControl.js
  src-web/components/common/AutoRefreshSelect.js
  src-web/components/common/CreateApplicationButton.js
  src-web/components/common/OverviewCards/index.js
  src-web/components/common/ResourceDetails/index.js
  src-web/components/common/ResourceList.js
  src-web/components/common/ResourceTable.js
  src-web/components/common/TableRowActionMenu.js
  src-web/components/modals/RemoveResourceModal.js
  src-web/components/modals/SyncResourceModal.js
  src-web/containers/App.js
  tests/cypress/README.md
  tests/cypress/scripts/argocd-integration.sh
  tests/cypress/scripts/slack-reporter.js
  tests/cypress/templates/ansible_yaml/ansible-operator-group.yaml
  tests/cypress/templates/ansible_yaml/ansible-subscription.yaml
  tests/cypress/templates/argocd_yaml/argocd-operator.yaml
  tests/cypress/views/common.js
  tests/jest/components/Topology/viewer/utils/diagram-helpers.test.js
  webpack.config.js
Labels: lgtm, approved, dco-signoff: yes
